---
import { SITE } from '../config';
import BaseLayout from '../layouts/BaseLayout.astro';
import VimHero from '../components/sections/VimHero.astro';
import PageContainer from '../components/layout/PageContainer.astro';
import Section from '../components/sections/Section.astro';
import BioSection from '../components/sections/BioSection.astro';
import Timeline from '../components/sections/Timeline.astro';
import TimelineItem from '../components/sections/TimelineItem.astro';
import SimpleText from '../components/ui/SimpleText.astro';
import LinksList from '../components/ui/LinksList.astro';
---

<BaseLayout>
	<PageContainer>

		<VimHero
			name={SITE.author}
			role={SITE.description}
			imageSrc="/assets/images/profile.webp"
		/>

		<Section title="About">
			<BioSection>
				<p>
					Engineer at heart who loves building things, solving problems, and sharing knowledge. Enjoy working end&#8209;to&#8209;end, from development to CI/CD, observability, infrastructure, and operations. Always curious, always learning.
				</p>
				<p>
					Currently working as a Senior Platform Engineer.
				</p>
			</BioSection>
		</Section>

		<Section title="Bio">
			<Timeline>
				<TimelineItem
					year="2025"
					text="TymeX - Started as Senior Platform Engineer at fintech unicorn"
				/>
				<TimelineItem
					year="2024"
					text="FPT Software - Promoted to Senior DevOps Engineer"
				/>
				<TimelineItem
					year=""
          text="Graduated from Hanoi University of Science and Technology (HUST) - (3.2/4.0 CPA) - Enginneer's degree"
				/>
				<TimelineItem
					year="2023"
					text="FPT Software - Received FPT Software Best Performer Award"
				/>
				<TimelineItem
					year="2022"
					text="FPT Software - Started at FPT Software as DevOps Engineer"
				/>
			</Timeline>
		</Section>

		<Section title="I ♥">
			<SimpleText>
        Building things, Neovim, Golang, Motorcycles, Basketball, Watch collecting
			</SimpleText>
		</Section>

		<Section title="On the web">
			<LinksList links={[...SITE.socialLinks]} />
		</Section>
	</PageContainer>
</BaseLayout>
