---
/**
 * Grid container for award items
 */
---

<div class="award-grid">
  <slot />
</div>

<style>
  .award-grid {
    display: grid;
    gap: 0.75rem;
  }

  @media (min-width: 50em) {
    .award-grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }
  }
</style>
