---
interface Props {
	size?: 'sm' | 'md';
}

const { size = 'md' } = Astro.props;
---

<div class:list={['pill', size]}><slot /></div>

<style>
	.pill {
		display: flex;
		gap: 0.5rem;
		color: var(--accent-text-over);
		border: 1px solid var(--accent-regular);
		background-color: var(--accent-regular);
		border-radius: 999rem;
		line-height: 1.35;
		white-space: nowrap;
	}

	.pill.md {
		padding: 0.5rem 1rem;
		font-size: var(--text-md);
	}

	.pill.sm {
		padding: 0.25rem 0.75rem;
		font-size: var(--text-sm);
	}
</style>
