---
// Simple text with consistent styling and indentation
---

<p class="simple-text">
	<slot />
</p>

<style>
	.simple-text {
		color: var(--gray-200);
		line-height: 1.8;
		text-indent: 1rem;
	}
</style>
